/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lexend+Exa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */
:root {
  --ContentColor : #fe9341ec;
  --ContentHighlightColor : #ffb936;
}

/* RESET & BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Lexend Exa", sans-serif;
  line-height: 1.6;
  background-color: #03071e;

  background-image:
    linear-gradient(#067953 2px, transparent 2px),
    linear-gradient(to right, #067953 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: black;

  animation: gridMove 1.5s linear infinite;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--ContentColor);
  margin: 0;
  margin-bottom: 5px;
}

summary {
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

h1, h2, p, li, marquee {
  cursor: default;
}

h2, h3{
  font-family: 'Tourney', sans-serif;
  color: var(--ContentHighlightColor);
}

a {
  text-decoration: none;
  color: var(--ContentColor);
}

/* ANIMIATION CLASSES */
.UC {
  background-image:
  linear-gradient(#1d442c 2px, transparent 2px),
  linear-gradient(to right, #1d442c 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: #042f0e;

  animation: gridAltMove 1.5s linear infinite;
}

.MovingBG{
  background-image:
    linear-gradient(#302306dc 2px, transparent 2px),
    linear-gradient(to right, #302306dc 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: #181204dc;

  animation: gridMove 1.5s linear infinite;
}

.ReverseBG{
  background-image:
    linear-gradient(#181204dc 2px, transparent 2px),
    linear-gradient(to right, #181204dc 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: #302306;

  animation: gridAltMove 1.5s linear infinite;
}

.glitch {
  animation: flickerText 2s infinite;
}

/* Flicker and Text Shadow Effect
   gathered from https://aleclownes.com/2017/02/01/crt-display.html */
@keyframes flickerText {
  0% {
    opacity: 0.27861;
    text-shadow:
      0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
     -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  5% {
    opacity: 0.34769;
    text-shadow:
      2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
     -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  10% {
    opacity: 0.23604;
    text-shadow:
      0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
     -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  15% {
    opacity: 0.90626;
    text-shadow:
      0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
     -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  20% {
    opacity: 0.18128;
    text-shadow:
      3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
     -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  25% {
    opacity: 0.83891;
    text-shadow:
      1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
     -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  30% {
    opacity: 0.65583;
    text-shadow:
      0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
     -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  35% {
    opacity: 0.67807;
    text-shadow:
      3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
     -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  40% {
    opacity: 0.26559;
    text-shadow:
      3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
     -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  45% {
    opacity: 0.84693;
    text-shadow:
      2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
     -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  50% {
    opacity: 0.96019;
    text-shadow:
      0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
     -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  55% {
    opacity: 0.08594;
    text-shadow:
      2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
     -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  60% {
    opacity: 0.20313;
    text-shadow:
      2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
     -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  65% {
    opacity: 0.71988;
    text-shadow:
      2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
     -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  70% {
    opacity: 0.53455;
    text-shadow:
      0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
     -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  75% {
    opacity: 0.37288;
    text-shadow:
      1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
     -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  80% {
    opacity: 0.71428;
    text-shadow:
      0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
     -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  85% {
    opacity: 0.70419;
    text-shadow:
      0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
     -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  90% {
    opacity: 0.7003;
    text-shadow:
      3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
     -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  95% {
    opacity: 0.36108;
    text-shadow:
      2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
     -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }

  100% {
    opacity: 0.24387;
    text-shadow:
      2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
     -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
}

@keyframes gridAltMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 32px 32px;
  }
}

@keyframes gridMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -32px -32px;
  }
}

/* HEADER & NAVIGATION */
.summary-dropdown {
  display: flex;            
  justify-content: space-between; 
  align-items: center;
  cursor: pointer;
}

.summary-dropdown::after{
  content: "▼";         
  transition: transform 0.3s ease;
}

details[open] .summary-dropdown::after {
  transform: rotate(180deg);
}

.summary-dropdown:hover {
  color: #ff7a14;
}


/* TITLES & TYPOGRAPHY */
.Main_Title {
  font-family: 'Tourney', sans-serif;
  font-size: 4rem;
  color: #fe9441;
  text-align: center;
  transition: color 0.4s ease-in-out;
}

.Main_Title:hover {
  color: #a528d6;
}


/* HERO SECTION & CONTAINERS */
.hero-container{
  width: 65%;
  margin: 10px auto;
  padding: 10px 10px;
  border: 9px groove #0dc487;
  color: #fe9441;
  background-color: #010e03;
}

.hero {
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;

  flex-wrap: nowrap;
  align-items: flex-start;
}

.maincontainer {
  flex-grow: 1;
}

.sidecontainer {
  flex: 0 0 25%;
} 

.sidecontainer div ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sectionborder, .sectionborder-scrollable {
  padding: 10px 20px;
  border: 3px outset var(--ContentColor);
  margin-bottom: 10px;
  transition:  border-style 0.6s ease;
}

.sectionborder-scrollable {
  max-height: 300px;
  overflow-y: auto;
}

.sectionborder nav ul {
  flex-direction: column;
}

.margin-li{
  margin-left: 20px;
}

.sectionborder li a:hover{
  background-color: #fe9441;
  color: black;
}

.sectionborder-scrollable::-webkit-scrollbar {
    display: none;
}

.sectionborder-scrollable p {
  margin-bottom: 5px;
}

.sectionborder-scrollable p span {
  display: block;
  font-style: italic;
}

.sectionborder:hover, .sectionborder-scrollable:hover{
  border: 3px inset var(--ContentColor);
}

/* Roadmap */
.roadmap {
  width: 100%;
}

.roadmap li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px dashed #fe934185;
}

.roadmap .date {
  color: gray;
  font-size: 0.9em;
  white-space: nowrap;
}

/* Guestbook */
.Guestbook {
  padding: 0px;
}

.Guestbook h2{
  padding: 10px 20px;
}

.Guestbook iframe {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 300px;
}

/* Navbar */
.navbar nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
}

.navbar nav a {
  flex: 1;
  height: 40px;

  align-content: center;
  text-align: center;
  white-space: nowrap;

  border: 3px inset #fe9441;
  font-size: 18px;
  background-color: #221104;
  
  transition: color 0.3s, border-color 0.3s ease;
}

.navbar a:hover {
  border: 3px inset #a528d6;
  color: #a528d6;
  background-color: #240a2e;
}

/* IMAGE AND ICONS */
.icon-warning {
    height: 1.2em;
    width: auto;
    vertical-align: middle;
    margin-right: 3px;
}


/* TABLET */
@media (max-width: 1024px) {

  .Main_Title {
    font-size: 3rem;
  }

  .hero-container{
    width: 90%;
  }

  .hero {
    display: block;
    width: 100%;
    flex-direction: column;
  }

  .sidecontainer {
    flex: 0 0 100%;
  }

  .sidebar ul li a {
    font-size: 16px;
  }

  .sectionborder-scrollable nav details ul li{
    width: 100%;
  }
}


/* MOBILE */
@media (max-width: 768px) {

  .layout {
    grid-template-areas: "body";
    grid-template-columns: 1fr;
    height: auto;
  }

  .sidebar {
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
  }

  .sidebar ul {
    flex-direction: row;
    gap: 8px;
  }

  .sidebar ul li a {
    font-size: 14px;
    white-space: nowrap;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .hero-container{
    width: 95%;
  }

  .hero {
    display: block;
    width: 100%;
    flex-direction: column;
  }
}


/* EXTRA SMALL */
@media (max-width: 480px) {

  body {
    font-size: 14px;
  }

  .hero-container{
    width: 100%;
    margin: 0;
  }

  .hero {
    display: block;
    width: 100%;
    flex-direction: column;
  }

  .sectionborder {
    padding: 10px;
  }

  .sidebar ul li a {
    padding: 6px 8px;
    font-size: 13px;
  }
}